body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.container1 {
  color: lightgray;
  background-color: rgb(31, 41, 55);
  display: flex;
  justify-content: space-around;
}

.item1 {
  display: flex;
  justify-content: right;
  /* border: solid red; */
  font-weight: 900;
  font-size: 25px;
  padding: 2%;
}

.item2 {
  display: flex;
  justify-content: right;
  /* border: 4px solid darkmagenta; */
  font-weight: 400;
  font-size: 15px;
  margin-left: 600px;
  padding-right: 15px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

li {
  /* border: 2px solid green; */
  margin: 6px;
}

.landing-container {
  /* border: solid goldenrod; */
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: rgb(31, 41, 55);
}

img {
  height: 200px;
  width: 400px;
  /* border: solid green; */
}

.containerX {
  display: flex;
  margin-top: 2%;
  margin-left: 100px;
}

.text-container {
  /* border: solid green; */
  display: flex;
  flex-direction: column;
}

button {
  width: 70px;
}

.container3 {
  display: flex;
  border: solid purple;
  justify-content: space-around;
  margin-top: 100px;
}

.container4 {
  display: flex;
  /* border: 3px solid salmon; */
  justify-content: space-around;
}

.box1 {
  display: flex;
  border: solid black;
  /* margin-left: 4%;
  margin-right: 4%; */
  /* padding: 10px; */
  border-radius: 6px;
  height: 100px;
  width: 100px;
}

.box2 {
  display: flex;
  border: solid black;
  /* margin-left: 4%;
  margin-right: 4%; */
  padding: 10px;
  border-radius: 6px;
  height: 100px;
  width: 100px;
}

.box3 {
  display: flex;
  border: solid black;
  /* margin-left: 4%;
  margin-right: 4%; */
  padding: 10px;
  border-radius: 6px;
  height: 100px;
  width: 100px;
}

.box4 {
  display: flex;
  border: solid black;
  /* margin-left: 4%;
  margin-right: 4%; */
  padding: 10px;
  border-radius: 6px;
  height: 100px;
  width: 100px;
}

.containerY {
  display: flex;
  border: 3px solid greenyellow;
  padding: 10px;
}

.button2 {
  display: flex;
  padding: 10px;
  height: 40px;
  width: 80px;
  flex-direction: column;
  border-radius: 8px;
}

.bottom-container {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  border: solid firebrick;
  justify-content: space-around;
  margin-top: 100px;
}
